@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: 'Courgette', cursive;
    height: fit-content;

}

img {
    max-width: 100%;
}

@keyframes imagen-rotacion {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes cambio-color {
    0% {
        background-color: rgb(51, 12, 122);
    }

    75% {
        background-color: rgb(143, 11, 121);
    }

    100% {
        background-color: rgb(0, 255, 255);
    }

}

@keyframes llegar {

    from {
        margin-left: 100%;
        opacity: 0;

    }

    to {
        margin-left: 0%;
        width: 100%;
        opacity: 1;
    }
}

@keyframes circular {
    from {
        width: 600px;
        border-radius: 0%;
        filter: sepia(0%);
    }

    to {
        width: 400px;
        border-radius: 90px;
        filter: sepia(100%);

    }
}



.main-header {
    display: flex;
    background-color: #383e56;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.icono {
    font-size: 3em;
    color: white;
    padding: 20px;
    animation-name: imagen-rotacion;
    animation-duration: 4s;
}



.navbar {

    color: white;
    background-color: #4b5374;
    height: 50px;

}

.menu {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.link-menu {
    display: block;

    color: white;
    text-decoration: none;

    padding: 1em;
}

.link-menu:hover {
    background-color: #383e56;
}

.active {
    font-weight: bold;
}

.main-content {
    background-color: #f69e7b;
}

.box-content {
    background-color: rgb(39, 39, 39);
    width: 100%;
    margin: auto;
    padding: 1em;
    border-radius: 15px;
    box-shadow: 2px 3px 4px rgb(44, 43, 43);

    animation: cambio-color 5s 4,
        llegar 5s ease-in;

}

.text {
    font-size: 30px;
    text-align: center;
    color: white;
}


.box {

    width: 600px;
    margin: auto;
    overflow: hidden;

}

.imagen {
    border-radius: 50px;

    animation: circular 4000ms forwards;
}




.main-footer {
    background-color: #383e56;
    color: white;
    text-align: center;
    padding: 1em;
    height: 50px;
}